@using MyBarMenu.Client.Services.Interfaces
@using Blazored.LocalStorage
@inject ILocalStorageService _localStorageService
@rendermode InteractiveServer

<div class="banner">
    <h2>Welcome to the public site!</h2>
    <p>Please login or create a user to create a cocktail menu</p>
</div>