@using MyBarMenu.Client.Services.Interfaces;
@inject IAccountService _accountService;

<h2>@Title</h2>
<button>Create</button>
<ul>
    @foreach(var username in UserNames)
    {
        <li>@username</li>
    }
</ul>

@code 
{
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required List<string> UserNames { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var users = await _accountService.GetUsers();

        foreach(var user in users)
        {
            UserNames.Add(user.UserName);
        }
    }
}
