<div>
    <h3>Signin</h3>
    <a href=@($"{backendUrl}auth/SignInWithGoogle")>
        Sign in with Google
    </a>
</div>

@code {
    string backendUrl = Environment.GetEnvironmentVariable("BACKEND_URL") ?? throw new InvalidOperationException("Backend url not set");
}
