<div>
    <h3>Signin</h3>
    <a href=@($"{backendUrl}auth/SignInWithGoogle")>
        Sign in with Google
    </a>
    <br />
    <br />
    <br />
    <form method="post" action="@($"{backendUrl}auth/SignOut")">
        <button type="submit">Sign out</button>
    </form>
</div>

@code {
    string backendUrl = Environment.GetEnvironmentVariable("BACKEND_URL") ?? throw new InvalidOperationException("Backend url not set");
}
