@page "/app"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
<!-- attribute [Authorize] -->

<!-- This site can only be seen if logged in -->
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <h3>AppHome</h3>
        </Authorized>
        <NotAuthorized>
            <h3>No app home</h3>
            @* <RedirectToLogin /> *@
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {

}
